*{
    margin: 0px;
    padding: 0px;
}
.featured-content {
    text-align: justify;
}

.social-icons {
    font-size: 21px;
}
.head{
    height: 90px;
    font-size: 20px;
    background-color: rgb(57, 45, 75); 
}
.nav{
    text-decoration: none;
    color: black;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 500;
}
.nav1{
   height: 80px;
   background-color: rgb(155, 181, 228);
    text-decoration: none;
}
.box{
    background-color: rgb(212, 218, 229);
   
}
.footer{
    background-color: rgb(52, 51, 51);
   
    
}
.hr-line {
   
    
    margin: 15px;
    border-bottom: 1px solid rgb(193, 190, 190);
  }
 

